@import "tailwindcss";
@keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);
        
    }

    50%{
        transform:scale(1.1);
        filter:grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
}
@layer utilities{
    .animate-scaleImage{
        animation:scaleImage 3s ease-in-out infinite;}
    }
     @keyframes dotsAnimation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
    @layer utilities{
        .animate-dotsAnimation {
            animation: dotsAnimation 3s ease-in-out infinite;

        }

    }
    
  
   @keyframes cubeRotate {
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform:  rotateY(180deg) translateY(-12px);
    }
    100%{
        transform:  rotateY(360deg) translateY(0px);
    }
  }
   @layer utilities{
        .animate-cubeRotate {
            animation: cubeRotate 3s ease-in-out infinite;

        }

    }
 @keyframes shakeEffect {
  
    50%{
        left:5%;
        bottom:10%;
    }
 
  }
   @layer utilities{
        .animate-shakeEffect {
            animation: shakeEffect 3s ease-in-out infinite;

        }

    }
@keyframes zigzagAnimation{
    50%{
        left:5%;
        top:2%;
    }
  }
   @layer utilities{
        .animate-zigzagAnimation {
            animation: zigzagAnimation 3s ease-in-out infinite;

            }}
    @keyframes shakeEffectPlus {
    50%{
        top:3%;
        left:48%
    }
  }
   @layer utilities{
        .animate-shakeEffectPlus {
            animation: shakeEffectPlus 3s ease-in infinite;

        }
    }